* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content-wpap {
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
}
a {
    display: block;
    text-decoration: none;
}
p {
    color: #484848;
    font-size: 14px;
    line-height: 21px;
}
h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 30px;
    margin-top: 15px;
}
.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #99ccff;
    margin-bottom: 1.5em;
}
.logo {
    display: inline-block;
    font-size: 2em;
    white-space: nowrap;
    color: #fff;
    margin-left: 40px;
}
.gam-menu {
    display: none;
}
.logo span {
    color: #162b4d;
}
.gam-menu {
    color: #fff;
    font-size: 30px;
    line-height: 2;
}
.nav-menu {
    display: flex;
    justify-content: flex-end;
}
.nav-menu a:hover {
    background-color: #162b4d;
}
.nav-menu a {
    color: #fff;
    padding-right: 5px;
    margin-right: 70px;
    font-size: 1.2em;
}
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
}
.slider-img {
    width: 100%;
    height: 100%;
}
.slider h1,
.slider p {
    position: absolute;
    padding-left: 40px;
}
.slider h1 {
    font-size: 2em;
    /* line-height: 2; */
    margin-top: 55px;
}
.slider p {
    margin-top: 150px;
    color: #fff;
}
.container {
    width: 1140px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
main {
    width: 63%;
}
aside {
    width: 35%;
}
section {
    width: 100%;
    display: flex;
}
.half-column {
    width: 50%;
}
.half-column:last-child {
    text-align: left;
    position: relative;
}
.half-column h2,
.post-text {
    width: 80%;
    padding-left: 10px;
}
.post-text {
    /* font-size: 13px; */
    margin-top: 10px;
}
section:nth-child(even) {
    flex-direction: row-reverse;
}
section:nth-child(even) .post-text,
section:nth-child(even) h2 {
    float: right;
    text-align: right;
    padding-right: 10px;
}
section:nth-child(even) .post-date {
    position: absolute;
    top: 20px;
    left: 10px;
}
.half-column:last-child:hover {
    opacity: 0.55;
}
section:first-child {
    background: #F3D250;
}
section:nth-child(2) {
    background: #8D8741;
}
section:nth-child(3) {
    background: #659DBD;
}
section:last-child {
    background: #DAAD86;
}
.post-date {
    display: inline-flex;
    position: absolute;
    top: 20px;
    right: 32px;
    font-size: 25px;
    line-height: 1.5;
    width: 30px;
    text-align: center;
}
article {
    border: 2px solid #3b3a3a;
    margin-bottom: 2em;
}
.article-block {
    padding: 1.5em;
}
.article-block button {
    text-transform: uppercase;
    border: 2px solid #3b3a3a;
    padding: 0.5em;
    background-color: #fff;
    margin: 3em 0 1em;
}
.article-block button:hover {
    border: none;
    border-bottom: 2px solid #000;
}
footer {
    width: 100%;
    background-color: #162b4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0 1em;
}
.copyright p,
.text-coding p {
    color: #fff;
    line-height: 2em;
}
.copyright {
    margin-left: 3em;
}
.text-coding {
    margin-right: 3em;
}
@media screen and (min-width: 1280px) {
    .gam-menu {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        height: 225px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .logo {
        font-size: 2.5em;
    }
    .gam-menu {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .slider h1 {
        font-size: 3em;
        margin-top: -210px;
    }
    .slider p {
        margin-top: 0;
    }
    .slider {
        height: 550px;
    }
    .container {
        width: 90%;
    }
    section {
        display: block;
    }
    p {
        font-size: 15px;
    }
    .half-column {
        width: 100%;
    }
    h2 {
        font-size: 46px;
        margin-top: 33px;
    }
    .half-column h2,
    .post-text {
        padding-left: 40px;
    }
    .post-text,
    section:nth-child(even) .post-text {
        margin-top: 20px;
    }
    .post-date,
    section:nth-child(even) .post-date {
        display: inline-block;
        position: static;
        width: 100%;
        font-size: 30px;
        margin: 0 auto;
        padding: 35px 0;
    }
    section:nth-child(even) .post-text,
    section:nth-child(even) h2 {
        float: left;
        text-align: inherit;
    }
    aside h2 {
        font-size: 32px;
        margin-top: 17px;
        margin-bottom: 40px;
    }
    footer {
        background-color: #162b4d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .header {
        height: 225px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .slider {
        height: 500px;
    }
    .slider h1 {
        font-size: 2.5em;
        margin-top: -155px;
    }
    .container {
        width: 100%;
        margin: 20px 0;
        display: block;
        padding: 0;
    }
    .half-column,
    aside,
    main {
        width: 100%;
    }
    .gam-menu {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .nav-menu a {
        padding: 1em;
    }
    section {
        display: block;
    }
    section:nth-child(even) .post-text,
    section:nth-child(even) h2 {
        float: none;
        text-align: inherit;
        padding-right: 10px;
    }
    .post-date,
    section:nth-child(even) .post-date {
        display: inline-block;
        position: static;
        width: 100%;
        font-size: 30px;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    h2 {
        font-size: 2.5em;
    }
    aside h2 {
        font-size: 2em;
    }
    .half-column:last-child {
        width: 90%;
        margin: 0 auto;
    }
    footer {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .copyright,
    .text-coding {
        margin: 0;
    }
}
