* {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0 0 5vh;
}
.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div3 {
    grid-area: 1 / 3 / 2 / 4;
}
.div4 {
    grid-area: 1 / 4 / 2 / 5;
}
.div5 {
    grid-area: 1 / 5 / 2 / 6;
}
.div6 {
    grid-area: 1 / 6 / 2 / 7;
}
.div7 {
    grid-area: 1 / 7 / 2 / 8;
}
.div8 {
    grid-area: 2 / 1 / 3 / 2;
}
.div9 {
    grid-area: 2 / 2 / 3 / 3;
}
.div10 {
    grid-area: 2 / 3 / 3 / 4;
}
.div11 {
    grid-area: 2 / 4 / 3 / 5;
}
.div12 {
    grid-area: 2 / 5 / 3 / 6;
}
.div13 {
    grid-area: 2 / 6 / 3 / 7;
}
.div14 {
    grid-area: 2 / 7 / 3 / 8;
}
.div15 {
    grid-area: 3 / 1 / 4 / 2;
}
.div16 {
    grid-area: 3 / 2 / 4 / 3;
}
.div17 {
    grid-area: 3 / 3 / 4 / 4;
}
.div18 {
    grid-area: 3 / 4 / 4 / 5;
}
.div19 {
    grid-area: 3 / 5 / 4 / 6;
}
.div20 {
    grid-area: 3 / 6 / 4 / 7;
}
.div21 {
    grid-area: 3 / 7 / 4 / 8;
}
.div22 {
    grid-area: 4 / 1 / 5 / 2;
}
.div23 {
    grid-area: 4 / 2 / 5 / 3;
}
.div24 {
    grid-area: 4 / 3 / 5 / 4;
}
.div25 {
    grid-area: 4 / 4 / 5 / 5;
}
.div26 {
    grid-area: 4 / 5 / 5 / 6;
}
.div27 {
    grid-area: 4 / 6 / 5 / 7;
}
.div28 {
    grid-area: 4 / 7 / 5 / 8;
}
.div29 {
    grid-area: 5 / 1 / 6 / 2;
}
.div30 {
    grid-area: 5 / 2 / 6 / 3;
}
.div31 {
    grid-area: 5 / 3 / 6 / 4;
}
.div32 {
    grid-area: 5 / 4 / 6 / 5;
}
.div33 {
    grid-area: 5 / 5 / 6 / 6;
}
.div34 {
    grid-area: 5 / 6 / 6 / 7;
}
.div35 {
    grid-area: 5 / 7 / 6 / 8;
}
.title-h1 {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 3em;
    line-height: 2;
}
.container {
    max-width: 1140px;
    margin: 20px auto;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.list li {
    padding: 20px;
}
.parent > div {
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid #918c8c;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #afa9a9;
}
.parent > div:nth-child(1),
.parent > div:nth-child(2),
.parent > div:nth-child(3),
.parent > div:nth-child(4) {
    background-color: #faf4f4;

}
