* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0 auto;
    background-color: #fefaf3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #f6bb66;
}
p {
    font-size: 1em;
    margin-bottom: 0.5em;
    font-style: italic;
    line-height: 1.5;
    color: #808080;
}
.full-header {
    background-color: #0b013c;
    width: 100%;
}
.footer,
.header {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
}
.header {
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
}
.footer p,
.header p {
    color: #fff;
}
.btn-header {
    margin-top: 10px;
    display: inline-block;
    line-height: 1.5;
    font-size: 1.5em;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 10px;
}
h1 {
    font-size: 5em;
    margin-top: 95px;
}
.text-head {
    font-size: 1.5em;
    line-height: 2.5;
    font-style: normal;
}
.form-head {
    margin-top: 40px;
    padding-bottom: 135px;
}
input {
    height: 40px;
    border: none;
}
input[type="text"] {
    width: 360px;
    padding-left: 10px;
}
input[type="submit"] {
    margin-left: 5px;
    width: 115px;
    background: #f8cb8a;
}
section {
    margin: 70px auto;
    width: 1140px;
    height: 100%;
}
.section-one {
    text-align: center;
}
.main-head {
    font-size: 1.6em;
    font-style: normal;
    line-height: 3;
    color: #111111;
}
h2 {
    font-size: 2.8em;
    color: #0b013c;
}
hr {
    width: 100px;
    height: 7px;
    display: block;
    margin: 30px auto 25px;
    background: #f8cb8a;
    border: none;
}
.section-one p {
    width: 78%;
    margin: 0 auto;
}
.section-two {
    padding: 110px 0 40px;
    display: flex;
}
.section-img-left {
    height: 490px;
    background: #fff;
}
.part-img {
    width: 66%;
    float: left;
    height: 100%;
}
.part-img > img {
    width: 100%;
    height: 100%;
}
.part-text {
    padding: 20px;
    width: 30%;
    float: right;
}
.part-text > hr {
    margin: 30px 0 25px;
}
.section-three {
    display: flex;
    justify-content: space-between;
}
.section-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.half-section {
    width: 46%;
    background-color: #fff;
}
.section-text {
    width: 90%;
    padding: 30px 0;
    margin: 0 auto;
}
section:last-child {
    width: 100%;
    background-image: url("../img/space-bg.png");
    background-repeat: no-repeat;
    background-color: #0b013c;
    background-size: cover;
}
.section-four {
    text-align: center;
    padding: 105px 0 135px;
    width: 75%;
    margin: 0 auto;
}
.section-content {
    width: 60%;
    margin: 0 auto;
}
.section-content .main-head,
.section-content h2 {
    color: #fefaf3;
}
footer {
    background-image: url("../img/footer-bg.jpeg");
    background-size: cover;
    width: 100%;
    height: 500px;
}
.footer.left,
.footer.right {
    width: 50%;
    display: flex;
    align-items: center;
}
.footer.left {
    float: left;
}
.footer.right {
    float: right;
}
h3 {
    font-size: 2.15em;
    line-height: 2;
}
.right img {
    width: 100%;
}
@media (min-width: 900px) and (max-width: 1139px) {
    .footer,
    .header,
    section {
        max-width: 100%;
    }
    p {
        font-size: 0.8em;
    }
    .part-text {
        padding: 0;
    }
    .main-head {
        line-height: 1.5;
    }
}
