header .header-wrap, .section, .footer .footer-wrap {
  max-width: 1200px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Hind", sans-serif;
  font-size: 0.8em;
  background-color: #fff;
  color: #fff; }

a {
  color: #fff; }

header {
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  height: 500px;
  border-radius: 0 0 40% 0; }
  header .header-wrap {
    padding: 0 135px; }
    header .header-wrap .landing-logo {
      width: 120px;
      padding-top: 1em; }
      header .header-wrap .landing-logo img {
        float: left;
        width: 33px; }
      header .header-wrap .landing-logo p {
        text-align: center;
        line-height: 1.5; }
        header .header-wrap .landing-logo p span {
          display: block; }
    header .header-wrap .header_heading {
      font-size: 55px;
      font-family: "Source Sans Pro", sans-serif;
      color: #000;
      font-weight: 900;
      line-height: 1;
      max-width: 500px;
      margin: 40px 0 35px;
      position: relative;
      z-index: 1; }
      header .header-wrap .header_heading:before {
        content: "";
        width: 224px;
        height: 35px;
        background: #14a0c7;
        position: absolute;
        top: 65px;
        z-index: -1; }
    header .header-wrap .header_text {
      width: 400px;
      color: #000; }
  header .header_button {
    color: #fff;
    background-color: #699900;
    border: none;
    margin: 50px 0;
    padding: 10px 30px;
    border-radius: 5%;
    font-weight: bold; }
  header .login {
    margin-left: 100px; }

.section {
  position: relative; }
  .section .section_text {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 3;
    z-index: 1; }
  .section:before {
    content: '';
    width: 140px;
    height: 35px;
    background: #14a0c7;
    position: absolute;
    top: 26px;
    right: 450px;
    z-index: -1; }
  .section .section_card_wrap {
    width: 960px;
    margin: 0 auto 115px; }
    .section .section_card_wrap .section_card {
      margin: 1em;
      height: 225px;
      background: #21232e;
      border-radius: 5px; }
      .section .section_card_wrap .section_card .section_card_img {
        float: left;
        height: 90%;
        width: 38%;
        padding: 0.7em; }
      .section .section_card_wrap .section_card .section_card_right_container {
        width: 45%;
        float: right;
        margin: 0 auto;
        padding: 25px 48px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 1.2em;
          line-height: 4;
          text-align: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          line-height: 1.5;
          text-align: justify; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          text-align: center;
          display: block;
          line-height: 3; }
  .section .section_banner {
    width: 850px;
    margin: 0 auto;
    height: 100px;
    background: linear-gradient(to right, #699900 0%, #3c64dd 100%);
    border-radius: 5px; }
    .section .section_banner .section_banner_text_wrap {
      float: left;
      width: 60%;
      margin-left: 7.5em; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 1.3em;
        color: #000;
        font-weight: 700;
        line-height: 3;
        position: relative;
        z-index: 1; }
        .section .section_banner .section_banner_text_wrap .section_banner_heading:before {
          content: '';
          width: 32px;
          height: 24px;
          background: #14a0c7;
          position: absolute;
          top: 6px;
          left: 60px;
          z-index: -1; }
    .section .section_banner .section_banner_button {
      color: #fff;
      background-color: #699900;
      border: none;
      margin: 50px 0;
      padding: 10px 30px;
      border-radius: 5%;
      font-weight: bold; }

.footer {
  width: 100%;
  margin: -45px auto 0;
  background-color: #21232e;
  display: flex; }
  .footer .footer-wrap {
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-wrap .footer_logo.landing-logo {
      width: 15%;
      display: inline-flex; }
      .footer .footer-wrap .footer_logo.landing-logo img {
        float: left;
        width: 33px; }
      .footer .footer-wrap .footer_logo.landing-logo p {
        text-align: center; }
        .footer .footer-wrap .footer_logo.landing-logo p span {
          display: block; }
    .footer .footer-wrap .footer_text {
      width: 14%;
      display: inline-flex; }
    .footer .footer-wrap .footer-cr {
      width: 15%;
      display: inline-flex; }
