%width-block {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin button-style ($text-btn, $color-btn, $noborder-btn, $margin-btn, $padding-btn, $border-btn, $weight-btn) {
    color: $text-btn;
    background-color: $color-btn;
    border: $noborder-btn;
    margin: $margin-btn;
    padding: $padding-btn;
    border-radius: $border-btn;
    font-weight: $weight-btn;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: $ff-text;
    font-size: $f-size-text;
    background-color: $body-color;
    color: map-get($colors, color-text);
}
a {
    color: map-get($colors, color-text);
}
header {
    background-image: $img-bg;
    background-size: cover;
    height: 500px;
    border-radius: 0 0 40% 0;
    .header-wrap {
        @extend %width-block;
        padding: 0 135px;
        .landing-logo {
            width: 120px;
            padding-top: 1em;
            img {
                float: left;
                width: 33px;
            }
            p {
                text-align: center;
                line-height: 1.5;
                span {
                    display: block;
                }
            }
        }
        .header_heading {
            font-size: 55px;
            font-family: $ff-head;
            color: map-get($colors, color-head);
            font-weight: 900;
            line-height: 1;
            max-width: 500px;
            margin: 40px 0 35px;
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                width: 224px;
                height: 35px;
                background: map-get($colors, color-before-element);
                position: absolute;
                top: 65px;
                z-index: -1;
            }
        }
        .header_text {
            width: 400px;
            color: map-get($colors, color-head);
        }
    }
    .header_button {
        @include button-style (#fff, map-get($colors, color-btn), none, 50px 0, 10px 30px, 5%, bold);
    }
    .login {
        margin-left: 100px;
    }
}
.section {
    position: relative;
    @extend %width-block;
    .section_text {
        text-align: center;
        font-size: 30px;
        color: map-get($colors, color-h);
        font-weight: 700;
        line-height: 3;
        z-index: 1;
    }
    &:before {
        content: '';
        width: 140px;
        height: 35px;
        background: map-get($colors, color-before-element);
        position: absolute;
        top: 26px;
        right: 450px;
        z-index: -1;
    }
    .section_card_wrap {
        width: 960px;
        margin: 0 auto 115px;
        .section_card {
            margin: 1em;
            height: 225px;
            background: map-get($colors, color-bg);
            border-radius: 5px;
            .section_card_img {
                float: left;
                height: 90%;
                width: 38%;
                padding: 0.7em;
            }
            .section_card_right_container {
                width: 45%;
                float: right;
                margin: 0 auto;
                padding: 25px 48px;
                .section_card_heading {
                    font-size: 1.2em;
                    line-height: 4;
                    text-align: center;
                }
                .section_card_text {
                    line-height: 1.5;
                    text-align: justify;
                }
                .section_link {
                    text-align: center;
                    display: block;
                    line-height: 3;
                }
            }
        }
    }
    .section_banner {
        width: 850px;
        margin: 0 auto;
        height: 100px;
        background: $gradient;
        border-radius: 5px;
        .section_banner_text_wrap {
            float: left;
            width: 60%;
            margin-left: 7.5em;
            .section_banner_heading {
                font-size: 1.3em;
                color: map-get($colors, color-head);
                font-weight: 700;
                line-height: 3;
                position: relative;
                z-index: 1;
                &:before {
                    content: '';
                    width: 32px;
                    height: 24px;
                    background: map-get($colors, color-before-element);
                    position: absolute;
                    top: 6px;
                    left: 60px;
                    z-index: -1;
                }
            }
        }
        .section_banner_button {
            @include button-style (#fff, #699900, none, 50px 0, 10px 30px, 5%, bold);
        }
    }
}
.footer {
    width: 100%;
    margin: -45px auto 0;
    background-color: map-get($colors, color-bg);
    display: flex;
    .footer-wrap {
        @extend %width-block;
        width: 1200px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer_logo.landing-logo {
            width: 15%;
            display: inline-flex;
            img {
                float: left;
                width: 33px;
            }
            p {
                text-align: center;
                span {
                    display: block;
                }
            }
        }
        .footer_text {
            width: 14%;
            display: inline-flex;
        }
        .footer-cr {
            width: 15%;
            display: inline-flex;
        }
    }
}
