$ff-head: 'Source Sans Pro', sans-serif;
$ff-text: 'Hind', sans-serif;
$f-size-text: 0.8em;
$body-color: #21232e;
$img-bg: url("../img/m-h-night.jpg");
$gradient: linear-gradient(to right, rgba(105,153,0,1) 0%, rgba(60,100,221,1) 100%);

$colors: (
    color-text: #fff,
    color-head: #fff,
    color-h: #fff,
    color-bg: #3a3e50,
    color-before-element: #ff4e33,
    color-btn:  #e3ac00
);