$ff-head: 'Source Sans Pro', sans-serif;
$ff-text: 'Hind', sans-serif;
$f-size-text: 0.8em;
$body-color: #fff;
$img-bg: url("../img/m-h-day.jpg");
$gradient: linear-gradient(to right, rgba(105,153,0,1) 0%, rgba(60,100,221,1) 100%);
    
$colors: (
    color-text: #fff,
    color-head: #000,
    color-h: #000,
    color-bg: #21232e,
    color-before-element: #14a0c7,
    color-btn:  #699900
);