﻿* {
    outline: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
.header,
.header-top,
.navbar {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
}
.container-fluid {
    padding: 0;
}
a {
    color: #fff;
    font-size: 1.3em;
}
.title-h1 {
    font-size: 4.5em;
}
h1,
h2,
h3 {
    text-align: center;
}
hr {
    background: #6c757d;
    width: 5%;
    height: 2px;
    margin: 0 auto 40px;
}
.title {
    height: 600px;
}
section {
    margin: 70px 0;
}
img {
    max-width: 100%;
    width: fit-content;
}
.services img {
    max-width: 150px;
    margin: 30px auto;
    display: block;
}
p {
    font-size: 1.3em;
    font-weight: 300;
}
.btn {
    background-image: url("../img/touch-bg.png");
    font-size: 1.5em;
    color: #fff;
    background-color: transparent;
    padding: 15px 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 60px auto;
    display: block;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div3 {
    grid-area: 1 / 3 / 3 / 4;
}
.div4 {
    grid-area: 2 / 1 / 3 / 2;
}
.div5 {
    grid-area: 2 / 2 / 4 / 3;
}
.div6 {
    grid-area: 3 / 1 / 4 / 2;
}
.div7 {
    grid-area: 3 / 3 / 4 / 4;
}
img.references-bg {
    position: absolute;
    z-index: -1;
    width: 50%;
    left: -10px;
    bottom: -20px;
}
.carousel-indicators.slid {
    position: static;
    margin: 50px auto;
}
.carousel-indicators.slid li {
    background-color: rgb(93 65 127);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-indicators.slid .active {
    background-color: rgb(183 180 243);
}
.contact {
    padding: 50px 0;
    background-color: #000;
    margin-bottom: 0;
}
.contact input,
.contact textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 10px;
    color: #fff;
}
input[type="submit"] {
    width: fit-content;
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background: #2f2f2f;
    border: none;
}
footer {
    background-image: url("../img/footer-bg.jpg");
    padding: 60px 0;
    color: #fff;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
