body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #666666;
    background-color: #f4f4f4;
}
.container {
    max-width: 1140px;
    margin: 30px auto 0;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.p-0 {
    padding: 0!important;
}
.p-5 {
    padding: 3rem!important;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.float-lg-right {
    float: right!important;
}
.text-xl-right {
    text-align: right!important;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
button,
select {
    text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.text-center {
    text-align: center!important;
}
.mb-0,
.my-0 {
    margin-bottom: 0!important;
}
.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
}
.pl-lg-4,
.px-lg-4 {
    padding-left: 1.5rem!important;
}
.pr-xl-0,
.px-xl-0 {
    padding-right: 0!important;
}
.p-md-0 {
    padding: 0!important;
}
.pl-5,
.px-5 {
    padding-left: 3rem!important;
}
.py-5,
constructed stylesheet .pb-5 {
    padding-bottom: 3rem!important;
}
.px-5,
constructed stylesheet .pr-5 {
    padding-right: 3rem!important;
}
.py-5,
constructed stylesheet .pt-5 {
    padding-top: 3rem!important;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
.rounded-circle {
    border-radius: 50%!important;
}
p,
q {
    line-height: 1.8;
}
h2 {
    font-size: 1.8rem;
}

.tm-site-name {
    font-size: 4rem;
}

.tm-quote {
    font-size: 1.35rem;
    font-style: italic;
    display: block;
}

.container {
    margin-top: 30px;
}

.tm-container-inner {
    margin: 0 auto;
    max-width: 880px;
}

.tm-section {
    position: relative;
    background-color: white;
}

.tm-pricing-discount {
    display: none;
}

.tm-pricing-discount__star {
    color: black;
}

.tm-pricing-discount__text {
    color: black;
}

.tm-section,
.tm-section-min-h {
    min-height: 400px;
}

.tm-flex-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-flex-col {
    flex-direction: column;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    padding: 12px 47px;
    font-size: 1.15rem;
}

.btn-primary {
    background: black;
    border-color: black;
}

.btn-secondary {
    background: black;
    border-color: black;
}

.tm-bg-color-primary {
    background-color: black;
}
.tm-bg-color-secondary {
    background-color: black;
}

.tm-text-color-primary {
    color: black;
}
.tm-text-color-white {
    color: white;
}

.tm-font-thin {
    font-weight: 300;
}
.tm-max-w-400 {
    max-width: 400px;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666666;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666666;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666666;
}

.tm-contact-form input,
.tm-contact-form select {
    color: #666;
}

.tm-contact-form textarea {
    height: 205px;
}

.tm-pricing-table {
    border: 1px solid black;
    width: 100%;
    max-width: 340px;
}

.tm-pricing-header {
    padding: 20px;
}

.tm-pricing-body {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tm-pricing-header-title {
    font-size: 1.6rem;
}

.tm-feature-list {
    list-style: none;
    margin: 0;
    line-height: 2.4;
    padding: 35px 50px;
}

.tm-form-header {
    background: black;
    padding: 40px 40px 90px;
}

.tm-form-footer {
    padding-top: 100px;
    padding-bottom: 30px;
}

.tm-footer-info-box {
    max-width: 260px;
    margin: 0 auto;
}

.tm-contact-form {
    padding: 68px;
    background: white;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.form-control {
    color: #666;
    font-size: 1.2rem;
    padding: 12px 20px;
    border-radius: 0;
}

.tm-contact-form select {
    width: 100%;
    padding: 15px;
}

.tm-center {
    width: 100%;
    text-align: center;
}

.tm-copyright-text {
    padding: 20px;
    font-size: 1rem;
}

.rounded-circle {
    height: 300px;
    width: 300px;
    background-image: url("../img/image-04.jpg");
    background-position: center;
    background-size: cover;
}

.tm-bg-color-primary {
    background-color: #76cdd8;
}
.tm-col-md-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.tm-text-color-primary {
    color: #76cdd8;
    font-size: 1.6em;
}
.tm-quote,
.tm-text-color-primary ~ p {
    font-size: 1em;
}
.p-5:hover {
    color: #76cdd8;
}
.btn-primary {
    margin: 1em;
}
.btn-primary:hover {
    background-color: rgb(118, 205, 216);
}
.btn-primary,
.btn-secondary,
.tm-bg-color-secondary,
.tm-pricing-header {
    background-color: #019999;
    border: none;
}
.tm-pricing-table {
    border: 1px solid #019999;
    margin: 1.5em;
}
.tm-feature-list {
    font-size: 0.9em;
}
.tm-card:nth-child(even):hover > div:last-child:before,
.tm-card:nth-child(odd):hover > div:last-child:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #76cdd8 transparent transparent;
}
.tm-card:nth-child(even):hover > div:last-child:before {
    left: 0;
    border-width: 50px 50px 0 0;
    border-color: #76cdd8 transparent transparent transparent;
}
.tm-pricing-table:hover {
    margin: -1.5rem;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-mb-30 {
    margin-bottom: 1.5em;
}
.img-fluid:hover {
    transform: scale(1.1);
    transition: 1s;
}
.tm-pricing-table:hover .tm-bg-color-secondary {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-pricing-table:hover .btn-secondary {
    background-color: #24d4d4;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount {
    display: block;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount__text {
    color: #24d4d4;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount__star {
    color: red;
}
.tm-form-header {
    background: #23d4d4;
}
.form-group *:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-contact-form {
    z-index: 1;
    margin: -55px auto;
}
