.tm-bg-color-primary {
    background-color: #76cdd8;
}
.tm-col-md-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.tm-text-color-primary {
    color: #76cdd8;
    font-size: 1.6em;
}
.tm-quote,
.tm-text-color-primary ~ p {
    font-size: 1em;
}
.p-5:hover {
    color: #76cdd8;
}
.btn-primary {
    margin: 1em;
}
.btn-primary:hover {
    background-color: rgb(118, 205, 216);
}
.btn-primary,
.btn-secondary,
.tm-bg-color-secondary,
.tm-pricing-header {
    background-color: #019999;
    border: none;
}
.tm-pricing-table {
    border: 1px solid #019999;
    margin: 1.5em;
}
.tm-feature-list {
    font-size: 0.9em;
}
.tm-card:nth-child(even):hover > div:last-child:before,
.tm-card:nth-child(odd):hover > div:last-child:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #76cdd8 transparent transparent;
}
.tm-card:nth-child(even):hover > div:last-child:before {
    left: 0;
    border-width: 50px 50px 0 0;
    border-color: #76cdd8 transparent transparent transparent;
}
.tm-pricing-table:hover {
    margin: -1.5rem;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-mb-30 {
    margin-bottom: 1.5em;
}
.img-fluid:hover {
    transform: scale(1.1);
    transition: 1s;
}
.tm-pricing-table:hover .tm-bg-color-secondary {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-pricing-table:hover .btn-secondary {
    background-color: #24d4d4;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount {
    display: block;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount__text {
    color: #24d4d4;
}
.tm-pricing-table:hover:last-child .tm-pricing-discount__star {
    color: red;
}
.tm-form-header {
    background: #23d4d4;
}
.form-group *:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-contact-form {
    z-index: 1;
    margin: -55px auto;
}
